<div>
    <img class="unilogo" src="assets/unilogo.svg" />
</div>

<mat-toolbar class="toolbarNav">
    <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">
        calendar_today</mat-icon>
        <span>Schedule</span>
    </button>
    <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">account_circle
        </mat-icon>
        <span>My dot</span>
    </button>
    <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
        <mat-icon class="material-icons color_blue">trending_up</mat-icon>
        <span>Challenges</span>
    </button>
</mat-toolbar>