.example-card {
  max-width: 400px;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.grid-element {
  margin: 2em;
}


.calendar-icon {
  transform: scale(2);
  margin: 0.5em;
}

.example-action-buttons {
  padding-bottom: 10px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 4px;
}
